<section class="topbar">
  <div class="row topbar-row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <ul class="topbarmenu2">
        <li class="menu-item"><a href="#">ERDK-Classes</a></li>
        <li class="menu-item"><a href="#">Apply Online</a></li>
        <li class="menu-item"><a target="_blank" href="#">Online Fee Payment</a></li>
        <li class="menu-item"><a target="_blank" href="#">Mentor</a></li>
        <li class="menu-item"><a href="#">Contact Us</a></li>
      </ul>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <ul class="topbarmenu2 right-menu-topbar">
        <li class="menu-item"><a href="#">Our Mission</a></li>
        <li class="menu-item"><a href="#">Our Vission</a></li>
      </ul>
    </div>
  </div>
</section>
<!-- topbar end -->
<header class="full">
  <div class="row col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
      <h1 class="webtitle"><a href="#">The ERDK.Classes</a></h1>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 column">
      <div class="full coaching_search">
          <div class="wrapper">
            <marquee behavior="scrollable"><h6 class="marquee">We give you the tools to climb mountain.</h6></marquee>
          </div>
        <form id="custom-search-form" class="form-search form-horizontal pull-right">
          <div class="input-append span12">
            <input type="text" class="search-query srchcls" placeholder="Search">
            <button type="submit" class="btn"><i class="fa fa-search" aria-hidden="true"> </i></button>
          </div>
        </form>
      </div>
      <div class="full jss_menu">
        <div id="menuzord" class="menuzord red menuzord-responsive column"><span (click)="expandFunction()" class="showhide"
            ><em></em><em></em><em></em></span>
          <ul id="menu-main-menu" class="menuzord-menu menuzord-right menuzord-indented scrollable">
            <li id="menu-item-172" class="header-menu-item menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-172"><a
                href="javascript:void(0)">About<span class="indicator" (click)="submenuExpandFunction('About')"><i class="fa fa-angle-down"></i></span></a>
              <ul class="dropdown dropdown-open">
                <li id="menu-item-140" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-140"><a
                    href="#">Organization</a></li>
                <li id="menu-item-55" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55"><a
                    href="#">About JSSATE</a></li>
                <li id="menu-item-142" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-142"><a
                    href="#">Board Of Governors</a></li>
                <li id="menu-item-574" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-574"><a
                    href="#">Principal’s Desk</a></li>
                <li id="menu-item-573" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-573"><a
                    href="#">Dean Academics</a></li>
                <li id="menu-item-572" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-572"><a
                    href="#">Dean Research</a></li>
                <li id="menu-item-571" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-571"><a
                    href="#">Dean Student Welfare</a></li>
                <li id="menu-item-3699" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3699"><a
                    href="#">Administrative Staff</a></li>
                <li id="menu-item-144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-144"><a
                    href="#">Centre of Excellence</a></li>
              </ul>
            </li>
            <li id="menu-item-54" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-54"><a href="#">Admission</a></li>
            <li id="menu-item-265" class="header-menu-item menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-265"><a
                href="javascript:void(0)">Academics<span class="indicator" (click)="submenuExpandFunction('Academics')"><i class="fa fa-angle-down"></i></span></a>
              <ul class="dropdown dropdown-open">
                <li id="menu-item-245" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-245"><a
                    href="#">Under Graduate</a></li>
                <li id="menu-item-260" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-260"><a
                    href="#">Post Graduate</a></li>
                <li id="menu-item-261" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-261"><a
                    href="#">Management Studies</a></li>
              </ul>
            </li>
            <li id="menu-item-52" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-52"><a href="#">Research</a></li>
            <li id="menu-item-59" class="header-menu-item menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-59"><a
                href="javascript:void(0)">Campus Life<span class="indicator" (click)="submenuExpandFunction('Campus Life')"><i class="fa fa-angle-down"></i></span></a>
              <ul class="dropdown dropdown-open">
                <li id="menu-item-1399" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1399"><a
                    href="#">Facilities</a></li>
                <li id="menu-item-1893" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1893"><a
                    href="#">Hostel</a></li>
                <li id="menu-item-1901" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1901"><a
                    href="#">Events</a></li>
                <li id="menu-item-155" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-155"><a
                    href="#">Sports</a></li>
                <li id="menu-item-153" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-153"><a
                    href="#">Clubs</a></li>
                <li id="menu-item-158" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-158"><a
                    href="#">Entrepreneur Development
                    Centre</a></li>
                <li id="menu-item-159" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-159"><a
                    href="#">Gallery</a></li>
                <li id="menu-item-2360" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2360"><a
                    href="#">Green Campus</a></li>
              </ul>
            </li>
            <li id="menu-item-3065" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3065"><a
                href="#">STEP</a></li>
            <li id="menu-item-4250" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4250"><a
                href="#">Online Fee</a></li>
            <li class="scrollable-fix"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
