<div>
  &nbsp;
</div>
<footer class="footer">
  <div id="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <h4>About Us</h4>
          <p>Himachal Pradesh, the state-level Van Mahotsav begins at Rajgarh in Sirmaur district today. Chief
            Minister Jairam Thakur will inaugurate the state-level program. AIR correspondent reports that
            the three-day plantation campaign will be carried out during the festival. Himachal Pradesh,
            the state-level Van Mahotsav begins at Rajgarh in Sirmaur district today. Chief Minister Jairam
            Thakur will inaugurate the state-level program. AIR correspondent reports that the three-day
            plantation campaign will be carried out during the festival.</p>

        </div>
        <div class="col-md-6 col-lg-3">
          <h4>Useful Links</h4>
          <ul class="footer-links">
            <li class="footer-list-item">
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
              <a href="#">Home</a>
            </li>
            <li class="footer-list-item">
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
              <a href="#">Service</a>
            </li>
            <li class="footer-list-item">
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
              <a href="#">Team</a>
            </li>
            <li class="footer-list-item">
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
              <a href="#">Portfolio</a>
            </li>
            <li class="footer-list-item">
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
              <a href="#">Organisation</a>
            </li>
            <li class="footer-list-item">
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
              <a href="#">Expo</a>
            </li>
            <li class="footer-list-item">
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
              <a href="#">Blog</a>
            </li>
            <li class="footer-list-item">
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
              <a href="#">Contact</a>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-lg-3">
          <h4>Contact Info</h4>
          <p>2870, Building Virgo, Bagmane Constellation Business Park, Outer Ring Road, Ferns City, Marathahalli,
            Doddanekundi, Bengaluru, Karnataka 560037</p>
          <p>Phone: +1 5589 55488 55</p>
          <p>Email: info@example.com</p>
        </div>
        <div class="col-md-6 col-lg-3">
          <h4>Our Newsletter</h4>
          <p>Himachal Pradesh, the state-level Van Mahotsav begins at Rajgarh in Sirmaur district today. Chief
            Minister Jairam Thakur will inaugurate the state-level program. AIR correspondent reports that
            the three-day plantation campaign will be carried out during the festival. Himachal Pradesh,
            the state-level Van Mahotsav begins at Rajgarh in Sirmaur district today. Chief Minister Jairam
            Thakur will inaugurate the state-level program. AIR correspondent reports that the three-day
            plantation campaign will be carried out during the festival.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="socialMedia">
    <div class="container">
      <div class="row">
        <div class="social">
          <ul>
            <li>
              <div>
                  <i class="fa fa-facebook-f"></i>
              </div>
            </li>
            <li>
              <div>
                <i class="fa fa-google-plus"></i>
              </div>
            </li>
            <li>
              <div>
                <i class="fa fa-twitter"></i>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
