<!-- card on home page -->
<div class="demo">
  <div class="container">
    <h3 class="heading-agileinfo">Our Pillers to Achieve New Height</h3>
    <div class="row">
      <div class="col-md-12">
        <div id="news-slider2" class="owl-carousel owl-theme">
          <div class="owl-wrapper-outer">
            <div class="owl-wrapper">
              <div class="owl-item">
                <div class="post-slide2">
                  <div class="post-img">
                    <a href="#"
                      ><img
                        src="../../assets/images/student-group/card/11.jpg"
                        alt=""
                    /></a>
                  </div>
                  <div class="post-content">
                    <h3 class="post-title">
                      <a href="#">Pillar - Mind & Spirit</a>
                    </h3>
                    <p class="post-description">
                      By education I mean an all-round drawing out of the best
                      in child and man-body, mind and spirit. Literacy is not
                      the end of education or even the beginning.
                    </p>
                    <ul class="post-bar">
                      <li><i class="fa fa-user-circle-o"></i> M. K. Gandhi</li>
                      <li>
                        <i class="fa fa-info-circle"></i>
                        <a
                          href="http://www.gandhiashramsevagram.org/"
                          target="_blank"
                          >More information...</a
                        >
                      </li>
                    </ul>
                    <a
                      href="https://en.wikipedia.org/wiki/Gandhism"
                      target="_blank"
                      class="read-more"
                      >Read more</a
                    >
                  </div>
                </div>
              </div>
              <div class="owl-item">
                <div class="post-slide2">
                  <div class="post-img">
                    <a href="#"
                      ><img
                        src="../../assets/images/student-group/card/22.jpg"
                        alt=""
                    /></a>
                  </div>
                  <div class="post-content">
                    <h3 class="post-title">
                      <a href="#">Pillar - Young mind</a>
                    </h3>
                    <p class="post-description">
                      Education is not only collection of information, but
                      something more meaningful; education should be man-making,
                      life giving and character-building. Education is an
                      assimilation of noble ideas. If young boys and girls are
                      encouraged and are not unnecessarily criticized all the
                      time, they are bound to improve in time.
                    </p>
                    <ul class="post-bar">
                      <li>
                        <i class="fa fa-user-circle-o"></i> Swami Vivekananda
                      </li>
                      <li>
                        <i class="fa fa-info-circle"></i>
                        <a
                          href="http://www.ramakrishnavivekananda.info/vivekananda/complete_works.htm"
                          target="_blank"
                          >More information...</a
                        >
                      </li>
                    </ul>
                    <a
                      href="https://en.wikipedia.org/wiki/Teachings_and_philosophy_of_Swami_Vivekananda"
                      target="_blank"
                      class="read-more"
                      >Read more</a
                    >
                  </div>
                </div>
              </div>
              <div class="owl-item">
                <div class="post-slide2">
                  <div class="post-img">
                    <a href="#"
                      ><img
                        src="../../assets/images/student-group/card/33.jpg"
                        alt=""
                    /></a>
                  </div>
                  <div class="post-content">
                    <h3 class="post-title">
                      <a href="#">Pillar - Education & Weapon</a>
                    </h3>
                    <p class="post-description">
                      Education is the most powerful weapon, with which you can
                      change the world. The power of education extends beyond
                      the development of skills. It can contribute to
                      nation-building and reconciliation. Our previous system
                      emphasized the physical and other differences with
                      devastating effects. We are steadily introducing education
                      that enables our youth to exploit their goals.
                    </p>
                    <ul class="post-bar">
                      <li>
                        <i class="fa fa-user-circle-o"></i> Nelson Mandela
                      </li>
                      <li>
                        <i class="fa fa-info-circle"></i>
                        <a
                          href="https://artsandculture.google.com/partner/nelson-mandela-centre-of-memory"
                          target="_blank"
                          >More information...</a
                        >
                      </li>
                    </ul>
                    <a
                      href="https://en.wikipedia.org/wiki/Nelson_Mandela"
                      target="_blank"
                      class="read-more"
                      >Read more</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Ad starts -->
<!-- <div class="ad-row">
  
  <a
    href="https://www.amazon.in/LG-Fully-Automatic-Loading-T7281NDDLG-T7288NDDLG/dp/B079YQJHDD/ref=as_li_ss_tl?_encoding=UTF8&pd_rd_i=B079YQJHDD&pd_rd_r=88f9fab9-bc18-449b-b8e0-d1080560c9fc&pd_rd_w=HE1Pl&pd_rd_wg=zELpt&pf_rd_p=b5c4df7b-dc8c-47a6-947a-01271326b67b&pf_rd_r=JTVVEKW4XD910VZT8ABW&psc=1&refRID=JTVVEKW4XD910VZT8ABW&linkCode=sl1&tag=erdkclasses-21&linkId=5ead3adacee44148c69fad79e515c779"
    target="_blank"
  >
  <div>
      <img src="../../../assets/ad-image/amazon-logo.jpg" alt="amazon logo" height="50"
      width="145">
    </div>
    <img
      src="../../../assets/ad-image/wash.jpeg"
      alt="Machine"
      height="200"
      width="145"
    />
    <div class="title">
      <span
        class="truncate"
        data-original-text="Samsung 6.2 kg Fully-Automatic Top load Washing Machine"
        >Samsung 6.2 kg Fully-Automatic…</span>
    </div>
  </a>
</div> -->


<div class="amazon-ad">
  <div class="ad-content">
    <img class="ad-image" src="../../../assets/ad-image/table-image.jpeg" alt="Coffee Table" >
    <div class="amazon-ad-container">
        <p>DeckUp Siena Coffee Table </p>
        <a class="ad-link" target="_blank"
            href="https://www.amazon.in/DeckUp-Siena-Coffee-Table-Finish/dp/B07BYM1FBF/ref=as_li_ss_tl?_encoding=UTF8&pd_rd_i=B07BYM1FBF&pd_rd_r=e983da93-1f66-4bfb-90c6-13e837fc0310&pd_rd_w=N1CyH&pd_rd_wg=MwFh2&pf_rd_p=b5c4df7b-dc8c-47a6-947a-01271326b67b&pf_rd_r=99XBSKWB38YQKBX4JKXJ&psc=1&refRID=99XBSKWB38YQKBX4JKXJ&linkCode=sl1&tag=erdkclasses-21&linkId=5f2e293c6d58562d0a233487f4e8ba2c">Go
            to store</a>
    </div>
  </div>

  <div class="ad-content">
      <img class="ad-image" src="../../../assets/ad-image/wash.jpeg" alt="Washing Machine" >
      <div class="amazon-ad-container">
          <p>Samsung Fully-Automatic Washing Machine</p>
          <a class="ad-link" target="_blank"
              href="https://www.amazon.in/Samsung-Fully-Automatic-WA62M4100HY-TL-Imperial/dp/B0747XV38N/ref=as_li_ss_tl?crid=1CCRQ84WII8X2&keywords=samsung+top+load+washing+machine&qid=1569748237&s=gateway&smid=AT95IG9ONZD7S&sprefix=SAMAUNG+TOP,aps,267&sr=8-3&linkCode=sl1&tag=erdkclasses-21&linkId=8d1558d370393a24c384fb630eed4909">Go
              to store</a>
      </div>
    </div>

</div>
<!-- Ad ends -->
<!-- end card on home page  -->

<div class="services">
  <h3 class="heading-agileinfo">
    Our Building Blocks<span
      >Nothing great was ever achieved without enthusiasm</span
    >
  </h3>
  <div class="container">
    <div class="services-top-grids col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="col-md-4 col-lg-4 col-xl-4">
        <div class="grid1">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>
          <h4>Modern Study</h4>
          <p>
            We follow modern technic to nerture the mind and soul. We addopt
            modern world pedagogy.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-xl-4">
        <div class="grid1">
          <i class="fa fa-book" aria-hidden="true"></i>
          <h4>Professional Study</h4>
          <p>
            We provide - Professional level of study to achieve the deep
            understanding of subject matter.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-xl-4">
        <div class="grid1">
          <i class="fa fa-tasks" aria-hidden="true"></i>
          <h4>Programs</h4>
          <p>
            We provide previous students concert to tackle challenges with more
            positivly and confidently.
          </p>
        </div>
      </div>
    </div>
    <div class="services-bottom-grids">
      <div class="col-md-4">
        <div class="grid1">
          <i class="fa fa-leaf" aria-hidden="true"></i>
          <h4>Online Learning</h4>
          <p>
            We provide online platform for student to study on go and keep
            updated at every step.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="grid1">
          <i class="fa fa-line-chart" aria-hidden="true"></i>
          <h4>Our Batches</h4>
          <p>
            We have Matriculation, 11th, 12th, Compititive Exams batches and
            many more running.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="grid1">
          <i class="fa fa-globe" aria-hidden="true"></i>
          <h4>Global Education</h4>
          <p>
            We provide national &amp; international level of education. We teach
            best way adopting best pedagogy.
          </p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
