<!-- card on home page -->
<div class="demo">
  <div class="container">
      <h3 class="h3">News slider Demo - 2 </h3>
      <div class="row">
          <div class="col-md-12">
              <div id="news-slider2" class="owl-carousel owl-theme">
                  <div class="owl-wrapper-outer">
                    <div class="owl-wrapper">
                    <div class="owl-item">
                      <div class="post-slide2">
                      <div class="post-img">
                          <a href="#"><img src="../../assets/images/student-group/card/11.jpg" alt=""></a>
                      </div>
                      <div class="post-content">
                          <h3 class="post-title"><a href="#">Latest News Post</a></h3>
                          <p class="post-description">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec elementum mauris. Praesent vehicula gravida dolor, ac efficitur sem sagittis.
                          </p>
                          <ul class="post-bar">
                              <li><i class="fa fa-calendar"></i> June 5, 2016</li>
                              <li>
                                  <i class="fa fa-folder"></i>
                                  <a href="#">Mockup</a>
                                  <a href="#">Graphics</a>
                                  <a href="#">Flayers</a>
                              </li>
                          </ul>
                          <a href="#" class="read-more">read more</a>
                      </div>
                  </div></div>
                  <div class="owl-item"><div class="post-slide2">
                      <div class="post-img">
                          <a href="#"><img src="../../assets/images/student-group/card/22.jpg" alt=""></a>
                      </div>
                      <div class="post-content">
                          <h3 class="post-title"><a href="#">Latest News Post</a></h3>
                          <p class="post-description">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec elementum mauris. Praesent vehicula gravida dolor, ac efficitur sem sagittis.
                          </p>
                          <ul class="post-bar">
                              <li><i class="fa fa-calendar"></i> June 7, 2016</li>
                              <li>
                                  <i class="fa fa-folder"></i>
                                  <a href="#">Mockup</a>
                                  <a href="#">Graphics</a>
                                  <a href="#">Flayers</a>
                              </li>
                          </ul>
                          <a href="#" class="read-more">read more</a>
                      </div>
                  </div></div>
                  <div class="owl-item"><div class="post-slide2">
                      <div class="post-img">
                          <a href="#"><img src="../../assets/images/student-group/card/33.jpg" alt=""></a>
                      </div>
                      <div class="post-content">
                          <h3 class="post-title"><a href="#">Latest News Post</a></h3>
                          <p class="post-description">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec elementum mauris. Praesent vehicula gravida dolor, ac efficitur sem sagittis.
                          </p>
                          <ul class="post-bar">
                              <li><i class="fa fa-calendar"></i> June 5, 2016</li>
                              <li>
                                  <i class="fa fa-folder"></i>
                                  <a href="#">Mockup</a>
                                  <a href="#">Graphics</a>
                                  <a href="#">Flayers</a>
                              </li>
                          </ul>
                          <a href="#" class="read-more">read more</a>
                      </div>
                  </div></div>
                  </div></div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- end card on home page  -->

<div class="services">
<h3 class="heading-agileinfo">
Our Building Blocks<span>Nothing great was ever achieved without enthusiasm</span>
</h3>
<div class="container">
<div class="services-top-grids col-sm-12 col-md-12 col-lg-12 col-xl-12">
<div class="col-md-4 col-lg-4 col-xl-4">
  <div class="grid1">
    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
    <h4>Legal Study</h4>
    <p>Under this we provide - Deploma, Graduate and Post Graduate
      level of courses.</p>
  </div>
</div>
<div class="col-md-4 col-lg-4 col-xl-4">
  <div class="grid1">
    <i class="fa fa-book" aria-hidden="true"></i>
    <h4>Professional Study</h4>
    <p>We provide - Professional level of study to
      achieve the deep understanding of subject matter.</p>
  </div>
</div>
<div class="col-md-4 col-lg-4 col-xl-4">
  <div class="grid1">
    <i class="fa fa-tasks" aria-hidden="true"></i>
    <h4>Programs</h4>
    <p>We provide lawyers concert to flourish the lawyer ethics and
      integrity.</p>
  </div>
</div>

</div>
<div class="services-bottom-grids">
<div class="col-md-4">
  <div class="grid1">
    <i class="fa fa-comment-o" aria-hidden="true"></i>
    <h4>Online Learning</h4>
    <p>We provide online platform for student to study on go and
      keep updated at every step.</p>
  </div>
</div>
<div class="col-md-4">
  <div class="grid1">
    <i class="fa fa-bookmark-o" aria-hidden="true"></i>
    <h4>Summer Session</h4>
    <p>We provide special session in summer holiday for interested
      students.</p>
  </div>
</div>
<div class="col-md-4">
  <div class="grid1">
    <i class="fa fa-globe" aria-hidden="true"></i>
    <h4>Global Education</h4>
    <p>We provide national &amp; international level of study. We teach
      best way adopting best pedagogy.</p>
  </div>
</div>
<div class="clearfix"></div>
</div>
</div>
</div>
