<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center title text-dark">
          <strong>Testimonials</strong>
        </h2>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item text-center active">
              <div class="img-box border rounded-circle m-auto">
                <img src="../../assets/images/testimonial/0.jpeg" alt="" class="d-block w-100 rounded-circle">
              </div>
              <h5 class="py-1 my-1"> <strong class="text-warning text-uppercase">Reshma</strong></h5>
              <h6 class="text-dark m-1">SBI Bank</h6>
              <p class="pt-3 text-white">
                Modi velit necessitatibus ea obcaecati delectus voluptates adipisci corrupti sint officia nihil.
              </p>
            </div>
            <div class="carousel-item text-center">
              <div class="img-box border rounded-circle m-auto">
                <img src="../../assets/images/testimonial/1.jpg" alt="" class="d-block w-100 rounded-circle">
              </div>
              <h5 class="py-1 my-1"> <strong class="text-warning text-uppercase">Porash</strong></h5>
              <h6 class="text-dark m-1">Indian Army</h6>
              <p class="pt-3 text-white">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. dolore doloremque quasi, ipsum esse elit.
              </p>
            </div>
            <div class="carousel-item text-center">
              <div class="img-box border rounded-circle m-auto">
                <img src="../../assets/images/testimonial/2.jpg" alt="" class="d-block w-100 rounded-circle">
              </div>
              <h5 class="py-1 my-1"> <strong class="text-warning text-uppercase">Lohit</strong></h5>
              <h6 class="text-dark m-1">SBI Clerk</h6>
              <p class="pt-3 text-white">
                Lorem ipsum dolor sit amet consectetur adipisicing elit dolore doloremque quasi, ipsum esse amet.
              </p>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>


