<section class="full jss_counter">
  <div class="jss-row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 columns alpha row-eq-height">
      <div class="jss_count col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <h4 class="jss_count_01">7400+</h4>
        Engineers graduated till date
      </div>
      <div class="jss_count col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <h4 class="jss_count_01">49</h4>
        University Ranks in the last 8 years
      </div>
      <div class="jss_count col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <h4 class="jss_count_01">48,000+</h4>
        Books apart from online journals and databases
      </div>
      <div class="jss_count col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <h4 class="jss_count_01">400+</h4>
        Job offers each year
      </div>
    </div>
  </div>
</section>
